.stalk {
    font-size: 35px;
    margin-top: -70px;
    margin-left: 20px;
}
.App-logo {
    margin-top: 30px;
    margin-left: 35px;
}
.row1 {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 12%;
    font-size: x-large;
}



